# Format {outname, cut, chainfile}
{production-2e33-acceptance.root,candidate < 100 || candidate > 1000000,chains/acceptance.chain}
{production-2e33-general.root,candidate < 0 || candidate > 1000000 || ( (candidate == 80 || candidate == 90 || candidate == 301313 || candidate == 68 || candidate == 300521) && (q_mu1*q_mu2 < 0) && TMath::Abs(eta_mu1_gen) < 2.5 && TMath::Abs(eta_mu2_gen) < 2.5 && pt_mu1_gen > 1. && pt_mu2_gen > 1. && TMath::Abs(eta_mu1) < 2.4 && TMath::Abs(eta_mu2) < 2.4 && (track_qual_mu1 & 4) && (track_qual_mu2 & 4) ),chains/production-2e33.chain}
#{production-cms-general.root,candidate < 0 || candidate > 1000000 || ( (candidate == 80 || candidate == 90 || candidate == 301313 || candidate == 68 || candidate == 300521) && (q_mu1*q_mu2 < 0) && TMath::Abs(eta_mu1_gen) < 2.5 && TMath::Abs(eta_mu2_gen) < 2.5 && pt_mu1_gen > 1. && pt_mu2_gen > 1. && TMath::Abs(eta_mu1) < 2.4 && TMath::Abs(eta_mu2) < 2.4 && (track_qual_mu1 & 4) && (track_qual_mu2 & 4) ),chains/production-cms.chain}
{production-mix-general.root,candidate < 0 || candidate > 1000000 || ( (candidate == 80 || candidate == 90 || candidate == 301313 || candidate == 68 || candidate == 300521) && (q_mu1*q_mu2 < 0) && TMath::Abs(eta_mu1_gen) < 2.5 && TMath::Abs(eta_mu2_gen) < 2.5 && pt_mu1_gen > 1. && pt_mu2_gen > 1. && TMath::Abs(eta_mu1) < 2.4 && TMath::Abs(eta_mu2) < 2.4 && (track_qual_mu1 & 4) && (track_qual_mu2 & 4) ),chains/production-mix.chain}
{data-2011.root,(candidate == 301313 || candidate == 300521) && alpha < 0.2 && pt_mu2 > 3 && (triggered_bs || triggered_jpsi) && (q_mu1*q_mu2) < 0 && TMath::Abs(eta_mu1) < 2.4 && TMath::Abs(eta_mu2) < 2.4 && (track_qual_mu1 & 4) && (track_qual_mu2 & 4),chains/data-2011.chain}
#{b0jpsix.root,candidate == 300521 && triggered_jpsi && (q_mu1*q_mu2) < 0 && TMath::Abs(eta_mu1) < 2.4 && TMath::Abs(eta_mu2) < 2.4 && (track_qual_mu1 & 4) && (track_qual_mu2 & 4),chains/b0jpsix.chain}
