# Format {outname, cut, chainfile}
{production-bplus-acceptance.root,TMath::Abs(candidate) == 68,chains/acceptance.chain}
{production-bplus-general.root,(candidate == 68 || candidate == 300521) && (q_mu1*q_mu2 < 0) && TMath::Abs(eta_mu1_gen) < 2.5 && TMath::Abs(eta_mu2_gen) < 2.5 && pt_mu1_gen > 1. && pt_mu2_gen > 1. && TMath::Abs(eta_mu1) < 2.4 && TMath::Abs(eta_mu2) < 2.4 && (track_qual_mu1 & 4) && (track_qual_mu2 & 4) && pt_kp_gen > .4 && TMath::Abs(eta_kp_gen) < 2.5 && pt_kp > .5 && TMath::Abs(eta_kp) < 2.4,chains/production.chain}
